@page
@model MascotaFeliz.App.Frontend.Pages.EditarVeterinariosModel
@{
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/styleVeterinario.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
<link
href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap"
rel="stylesheet"
/>
    <title>Document</title>
</head>
<body>
  

    <header class="header">
        <div class="grid">
        <div class="headercont">
            <p class="logo"><a asp-page="/Index"> ANIMAL CARE</a></p>
                        <div id="menu">
                            <ul>
                                <!-- <li id="item"><a href="indexcatalogo.html">SEDES</a>
                                    <ul id="desple">
                                        <li><a href="indexcatalogo.html">BOGOTÁ</a></li>
                                        <li><a href="indexcatalogo.html">MEDELLÍN</a></li>
                                        <li><a href="indexcatalogo.html">CALI</a></li>
                                    </ul>
                                </li> -->
                                <li id="item" ><a href="RegistroMascota.html">REGISTRO MASCOTA</a></li>
                                <li id="item" ><a href="RegistroDueno.html">REGISTRO PROPIETARIO</a></li>
                                
                            <li id="item"><a href="indexingreso.html">
                                <i class="fas fa-address-book"></i>
                            </a></li>
                        </ul>
                    </div>
        </div>
            <section class="banner">        
                    <div class="bannerDes">
                    <div class="contenedor">

                        <h1>BIENVENIDO AL REGISTRO DEL VETERINARIO</h1>
                        <input type="button" value="Registrar" class="botonBanner">
                    </div>
                </div>
            </section>
</div>
</header>



<div class="login">
<h2> REGISTRAR VETERINARIO </h2>

<form method="post" >
    <div class="form-group">
        <input type="hidden" asp-for = "veterinario.Id" />
        <label asp-for="veterinario.Nombres"></label>
        <input asp-for="veterinario.Nombres" class="form-control">
        <label asp-for="veterinario.Apellidos"></label>
        <input asp-for="veterinario.Apellidos" class="form-control">
        <label asp-for="veterinario.Direccion"></label>
        <input asp-for="veterinario.Direccion" class="form-control">
        <label asp-for="veterinario.Telefono"></label>
        <input asp-for="veterinario.Telefono" class="form-control">
        <label asp-for="veterinario.TarjetaProfesional"></label>
        <input asp-for="veterinario.TarjetaProfesional" class="form-control">


        <button type="submit" class="btn btn-primary">Grabar</button>
    </div>

</form>
</div>

<a asp-page="./ListaVeterinarios" class="btn-default"> Lista de los Veterinarios </a>
</body>