@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

    <title>ANIMAL CARE</title>
</head>
<body>
  

    <header class="header">
        <div class="grid">
        <div class="headercont">
            <p class="logo"><a asp-page="/Index" class="logo"> ANIMAL CARE</a></p>
                        <div id="menu">
                            <ul>
                                <li id="item"><a href="indexcatalogo.html">SEDES</a>
                                    <ul id="desple">
                                        <li><a href="indexcatalogo.html">BOGOTÁ</a></li>
                                        <li><a href="indexcatalogo.html">MEDELLÍN</a></li>
                                        <li><a href="indexcatalogo.html">CALI</a></li>
                                    </ul>
                                </li>
                                <li id="item" ><a href="">CONTACTO</a></li>
                                <li id="item" ><a href="">servicios</a></li>
                                
                            <li id="item"><a href="indexingreso.html">
                                <i class="fas fa-address-book"></i>
                            </a></li>
                        </ul>
                    </div>
        </div>
            <section class="banner">        
                    <div class="bannerDes">
                    <div class="contenedor">

                        <h1>BIENVENIDO A LA CLÍNICA VETERINARIA</h1>
                        <input type="button" value="Iniciar sesión" class="botonBanner">
                    </div>
                </div>
            </section>
</div>
</header>
<main>
    <section class="locations">
        <h1>REGISTROS</h1>
        <p>Selecciona  el registro que deseas hacer </p>
        <div class="row">
            <a asp-page="/Veterinarios/ListaVeterinarios">
          <div class="location-col">
           <img src="~/imagenes/pexels-tima-miroshnichenko-6235662m.jpg" />
            <div class="layer">
              <h3> REGISTRAR <br>VETERINARIOS</h3>
            </div>
          </div>
        </a>
        <a asp-page="/Mascotas/ListaMascotas">
          <div class="location-col">
            <img src="./imagenes/dog-and-cat-gc10d47a92_1920.jpg" />
            <div class="layer">
              <h3> REGISTRAR <br> MASCOTA</h3>
            </div>
          </div>
        </a>

        <a asp-page="/Duenos/ListaDuenos">
          <div class="location-col">
            <img src="./imagenes/pexels-blue-bird-7210487.jpg" />
            <div class="layer">
              <h3>REGISTRAR <br> PROPIETARIO</h3>
            </div>
          </div>
        </a>
        <!--<a asp-page="/HistoriaClinica/ListaHistoria">
          <div class="location-col">
            <img src="./imagenes/pexels-tima-miroshnichenko-6235241.jpg" />
            <div class="layer">
              <h3>REGISTRAR <br> HISTORIA CLINICA</h3>
            </div>
          </div>
        </a> -->

        </div>

      </section>

  

    <section class="sobrenosotros">
        <div class="grid2">
            <div class="textosonbrenosotros">
                <h2 class="subtitulo">¿Quiénes somos?</h2>
                <p>Somos una Clínica Veterinaria  que ofrece servicios profesionales médico-quirúrgicos y de laboratorio clínico en grandes y pequeñas especies, que fomenta la formación académica de calidad y propende por el nuevo conocimiento. Contamos con una completa infraestructura física y dotación de equipos de apoyo, así como de insumos médicos para la atención integral de pequeñas y grandes especies animales.</p>
            </div>
            <div class="numeros">
                <div class="numero">350</div>
                <div class="numero">245</div>
                <div class="numero">5683</div>
                <div class="numero">123</div>

            </div>
        </div>
    

    </section>
        
</main>
  
    <script src="https://kit.fontawesome.com/13e36f2fce.js" crossorigin="anonymous"></script>
</body>
