body{
    margin: 0px;
    padding: 0px;
}






.grid{
    background-color:0;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    width: 100%;
    height: 100%;
    margin: auto;
    gap:10px ;
    overflow: hidden;
    align-items: center;
}
.header{
    background-color:0;
    width: 100%;
    grid-column: 1/-1;

}






img{
    width: 100%;
}
.headercont{
    position: relative;
    z-index: 100;
    grid-column: 1/-1;
    width: 100%;
    height: 60px;
    display: flex;
    background-color:0;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff ;

}
.logo{
    font-weight: 900;
    font-size: 35px;
    margin: 10px;
    font-family: Cambria;
    color: white;
    grid-column: 1/1;
    
    text-decoration: none;

}
#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu #item{
    float: left;
    
}

#menu #item a{
    background-color:#8892c600;
    color: rgb(255, 255, 255);
    padding: 30px ;
    font-family: 'Bebas Neue', cursive;
    width: 100%;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 30px;
    /*border-left: 1px solid #ffffff ;*/

}
#menu #desple{
    display: none;
}
#menu #item a:hover{
    background-color: #ffffff21;
    color: #141e588e;
    display: flex;
    align-items: center;
}

#menu #item:hover #desple{
display: block;
}






.banner{
    height: 100vh;
    width: 100%;
    margin-top: -195px;
    position: relative;
    background: url(../imagenes/pets-g73daf6662_1920modi2.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    grid-column: 1/-1;

}
.bannerDes{
    position: relative;
    text-align: center;
    color: rgba(0, 0, 0, 0.616);
    
    transform: translateX(-50%) translateY(-50%);
    top:50%;
    left: 50%;
    width: 100%;
    font-size: 20px;
    margin-top: 150px;
    background-color: 0;


}
.botonBanner{
    background: rgba(29, 27, 133, 0.664);
    border: none;
    padding: 12px;
    color: #fff;
    font-size: 20px;
    font-family: Cambria;
    border-radius: 5px;
}
.botonBanner:hover{
    border: 2px solid #141e58;
    background: none;
    color:#141e58;
}
h1{
    font-family: 'Bebas Neue', cursive;
    font-size:50px;
    
}
.servicios{
    height: 370px;
    background: linear-gradient(180deg,#fff  50%,#141e58);
}
.items{
    grid-column: 1/-1;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.item{
    background: white;
    width: 20%;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    height: 220px;
    padding: 20px 10px;
    text-align: center;
}

[class^="fas fa"]{
font-size: 35px;
text-align: center;
}
.tituloservicios{
    margin: 20px 0;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
}
.sobrenosotros{
    background: #F9B0BE;
    color: rgb(0, 0, 0);
    height: auto;
    width: 100%;
    padding-bottom: 60px;
    margin-top: 100px;


}
.grid2{
    
    background-color:0;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    width: 70%;
    height: 100%;
    margin: auto;
    gap:10px ;
    overflow: hidden;
    align-items: center;
}
.textosonbrenosotros{
    grid-column: 1/-1;
    text-align: center;
    font-family: Cambria;
    

    

}
.numeros{
    grid-column: 1/-1;
    display: flex;
    justify-content: space-evenly;
    font-family: Cambria;
    font-size: 30px;

}


/*parte de luis*/
.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
  }
.locations {
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    cursor: pointer;
  }
  .location-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    object-fit: fill;
  }
  .location-col img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    display: block;
  }
  .layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
  }
  .layer:hover {
    background: rgba(4, 9, 30, 0.7);
  }
  .layer h3 {
    width: 100%;
    font-weight: 500;
    color: white;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    transition: 0.5s;
    opacity: 0;
  }
  .layer:hover h3 {
    bottom: 40%;
    opacity: 1;
  }
/*fin parte de luis*/














@media screen and (max-width:800px){
    .row {
        flex-direction: column;
      }
      .layer {
        color: white;
        background: transparent;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: 0.5s;
      }
      .layer:hover {
        background: rgba(4, 9, 30, 0.7);
      }
   .servicios{
       height: auto;
       margin-top: 40px;

   }
   .item{
       width: 60%;
       margin: 40px 0;
       height: auto;
       padding: 40px;
   }
   .logo{
    font-size: 20px;
  

}
    #menu #item a{
        
        font-size: 15px;
        justify-content: center;

    }
    h1{
        font-size:30px;
    }
    [class^="fas fa"]{
        font-size: 25px;
        }








}